@font-face {
    font-family: gilory;
    src: url(./Gilroy-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilory;
}

html,body{
    height:100%;
    width:100%;
}

body{
    background-color: rgb(255, 255, 255);
}

section{
    height:100%;
    width:100%;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
}

nav h1 i{
    rotate: 45deg;
    display: inline-block;
    font-size: 40px;
}

nav h1{
    font-size: 30px;
}

.part-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:3vw;
}

.part-2 button{
    padding: 10px 20px;
    border:2px solid black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
}

.center{
    display: flex;
    height:80%;
    width:100%;
    padding: 10px 50px;
}

.center-part-1{
    height:100%;
    width:50%;
}

.center-part-1 h1{
    font-size: 70px;
}

.center-part-1 p{
    margin-top: 50px;
    padding-right: 20px;
    margin-bottom: 35px;
}

.center-part-1 button{
    font-size:20px;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    background-color: black;
}

.center-part-2{
    background-image: url("https://www.unicuscreatives.in/media/graphics/homepage-megaphone.svg");
    height:100%;
    width:50%;
    position: relative;
}

.center-part-2 img {
    height: 100%;
    position: absolute;
    right:0;
}

.section1Bottom{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.section1Bottom img {
    height:80px;
}